doctype html
html
  head
    title= title
    include ../common/jquery.jade
    include ../common/firebase.jade
    include ../common/bootstrap.jade
    include ../common/angularJS.jade
  body
    block content
